@use '../../02-tokens' as tokens;

.q-btn {
  transition: tokens.$button-transition-duration;
}

.q-btn .q-focus-helper {
  display: none;
}

.q-btn.button-primary {
  background-color: tokens.$button-primary-bg-default;
  color: tokens.$button-primary-color;
}

.q-btn.button-primary:hover:not(.disabled) {
  background-color: tokens.$button-primary-bg-hover;
}

.q-btn.button-secondary {
  background-color: tokens.$button-secondary-bg-default;
  background: tokens.$button-secondary-bg-default;
  color: tokens.$button-secondary-color;
  border: 1px solid tokens.$button-secondary-border-color;
}

.q-btn.button-secondary:hover:not(.disabled) {
  background-color: tokens.$button-secondary-bg-hover;
}

.q-btn.disabled {
  background-color: tokens.$button-disabled-bg;
  color: tokens.$button-disabled-color;
  border: 1px solid tokens.$button-disabled-border-color;
}

.q-btn.button-md {
  font-size: tokens.$button-size-md-font-size;
}

.q-btn.button-sm {
  font-size: tokens.$button-size-sm-font-size;
}

.q-btn.button-xs {
  font-size: tokens.$button-size-xs-font-size;
}
