@use '../../02-tokens' as tokens;

// .q-btn {
//   // example file
//   // define your custom button styles if really needed
//   // following quasar design system is preferred with BEM overrides
// }
