services:
  reverse-proxy:
    image: traefik:v3.5.4
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=true"
      - "--entryPoints.web.address=:80"
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker"
      - "--log.level=DEBUG"
      - "--ping=true"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`)"
      - "traefik.http.routers.dashboard.service=api@internal"
    container_name: co2-calculator-traefik
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "80:80"
      - "8080:8080"
    expose:
      - "80"
      - "8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  # PostgreSQL for Auth module
  postgres:
    image: postgres:18-alpine
    container_name: co2-calculator-postgres
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - "5432:5432"
    volumes:
      - postgres-data-18:/var/lib/postgresql/data
    command: ["postgres", "-c", "listen_addresses=*"]
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $$DB_USER -d $$DB_NAME -h $$DB_HOST -p $$DB_PORT",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: co2-calculator-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  # FastAPI Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: co2-backend
    command: >
      sh -c "
        alembic upgrade head &&
        uvicorn app.main:app --host 0.0.0.0 --port 8000
      "
    env_file:
      - ./backend/.env
    environment:
      # OVERRIDE to use service name 'postgres' as host in Docker Compose
      DB_HOST: postgres
      DEBUG: "False"
    ports:
      - "8008:8000"
    # volumes:
    #   - ./app:/app/app:ro
    labels:
      # match localhost/api/*
      - "traefik.http.routers.backend.priority=200"
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=web"
      # remove /api before sending to backend
      - "traefik.http.middlewares.backend-stripprefix.stripprefix.prefixes=/api"
      - "traefik.http.routers.backend.middlewares=backend-stripprefix,compress"
      - "traefik.http.middlewares.compress.compress=true"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: co2-frontend
    ports:
      - "3000:8080"
    volumes:
      - ./frontend:/app:ro
    labels:
      # match everything else
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.routers.frontend.priority=100"
      - "traefik.http.routers.frontend.middlewares=compress"
      - "traefik.http.middlewares.compress.compress=true"
      - "traefik.http.services.frontend.loadbalancer.server.port=8080"
    depends_on:
      - backend

volumes:
  postgres-data-18:
    driver: local
