@font-face {
  font-family: SuisseIntl;
  src:
    url('/fonts/SuisseIntlEPFL-Regular-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntlEPFL-Regular-WebS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SuisseIntl;
  src:
    url('/fonts/SuisseIntlEPFL-Medium-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntlEPFL-Medium-WebS.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SuisseIntl;
  src:
    url('/fonts/SuisseIntlEPFL-Bold-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntlEPFL-Bold-WebS.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
