

:root {
  /* 
  ** Base tokens
  */
  --tokens-typography-font-family-base:
    'Helvetica Neue', '-apple-system', sans-serif;

  /* FIGMA variables export */
  --tokens-colors-status-green: #28a745;
  --tokens-colors-status-red: #dc3545;
  --tokens-colors-status-yellow: #ffc107;
  --tokens-border-radius-generic-border-radius: 0.1875rem;
  --tokens-border-radius-generic-border-radius-px: 3px;
  --tokens-border-radius-full-border-radius: 62.4375rem;
  --icon-icon-size-xl: var(--tokens-spacing-32);
  --icon-icon-size-lg: var(--tokens-spacing-24);
  --icon-icon-size-md: var(--tokens-spacing-16);
  --icon-icon-size-sm: var(--tokens-spacing-16);
  --tokens-colors-grey-scale-grey-100: #f5f5f5;
  --tokens-colors-grey-scale-grey-200: #e6e6e6;
  --tokens-colors-grey-scale-grey-300: #d5d5d5;
  --tokens-colors-grey-scale-grey-400: #c1c1c1;
  --tokens-colors-grey-scale-grey-500: #8e8e8e;
  --tokens-colors-grey-scale-grey-600: #707070;
  --icon-color-grey: var(--tokens-colors-grey-scale-grey-600);
  --tokens-colors-red-red-100: #ff0000;
  --tokens-colors-red-red-200: #b51f1f;
  --icon-color-red: var(--tokens-colors-red-red-100);
  --icon-color-black: var(--tokens-colors-base-black);
  --tokens-colors-base-black: #212121;
  --tokens-colors-base-white: #ffffff;
  --button-radius: var(--tokens-border-radius-generic-border-radius);
  --button-radius-rounded: var(--tokens-border-radius-full-border-radius);
  --button-primary-bg-default: var(--tokens-colors-red-red-100);
  --button-primary-bg-hover: var(--tokens-colors-red-red-200);
  --button-primary-color: var(--tokens-colors-base-white);
  --button-secondary-bg-default: var(--tokens-colors-base-white);
  --button-secondary-bg-hover: var(--tokens-colors-grey-scale-grey-100);
  --button-secondary-color: var(--tokens-colors-base-black);
  --button-disabled-bg: var(--tokens-colors-grey-scale-grey-200);
  --button-disabled-color: var(--tokens-colors-grey-scale-grey-400);
  --button-disabled-stroke-color: var(--tokens-colors-grey-scale-grey-400);
  --button-width: var(--tokens-spacing-1);
  --button-size-md-padding-x: var(--tokens-spacing-16);
  --button-size-md-padding-y: var(--tokens-spacing-12);
  --button-size-sm-padding-x: var(--tokens-spacing-12);
  --button-size-sm-padding-y: var(--tokens-spacing-8);
  --button-size-xs-padding-x: var(--tokens-spacing-8);
  --button-size-xs-padding-y: var(--tokens-spacing-8);
  --tokens-typography-font-weight-regular: 400;
  --tokens-typography-font-weight-medium: 500;
  --tokens-typography-font-weight-bold: 700;
  --button-gap: var(--tokens-spacing-4);
  --button-size-md-font-size: var(--tokens-typography-font-size-md);
  --button-size-md-line-height: var(--tokens-typography-font-size-2xl);
  --tokens-typography-font-size-3xl: 1.75rem;
  --tokens-typography-font-size-2xl: 1.5rem;
  --tokens-typography-font-size-xl: 1.25rem;
  --tokens-typography-font-size-lg: 1.125rem;
  --tokens-typography-font-size-md: 1rem;
  --tokens-typography-font-size-sm: 0.875rem;
  --tokens-typography-font-size-xs: 0.75rem;
  --tokens-typography-font-size-2xs: 0.625rem;
  --button-border-radius: var(--tokens-border-radius-generic-border-radius);
  --tokens-typography-line-height-4xl: 2.25rem;
  --tokens-typography-line-height-3xl: 2rem;
  --tokens-typography-line-height-2xl: 1.75rem;
  --tokens-typography-line-height-xl: 1.625rem;
  --tokens-typography-line-height-lg: 1.5rem;
  --tokens-typography-line-height-md: 1.25rem;
  --tokens-typography-line-height-sm: 1.125rem;
  --tokens-typography-line-height-xs: 1rem;
  --tokens-typography-line-height-2xs: 0.875rem;
  --button-size-sm-font-size: var(--tokens-typography-font-size-sm);
  --button-size-sm-line-height: var(--tokens-typography-font-size-xl);
  --button-size-xs-font-size: var(--tokens-typography-font-size-xs);
  --button-size-xs-line-height: var(--tokens-typography-line-height-xs);
  --tokens-spacing-4: 0.25rem;
  --tokens-spacing-8: 0.5rem;
  --tokens-spacing-12: 0.75rem;
  --tokens-spacing-16: 1rem;
  --tokens-spacing-24: 1.5rem;
  --tokens-spacing-32: 2rem;
  --tokens-spacing-64: 4rem;
  --tokens-spacing-48: 3rem;
  --tokens-spacing-2: 0.125rem;
  --tokens-spacing-1: 0.0625rem;
  --button-secondary-stroke-color: var(--tokens-colors-grey-scale-grey-300);
  --status-indicator-high-bg: var(--tokens-colors-red-red-100);
  --status-indicator-high-color: var(--tokens-colors-base-white);
  --status-indicator-low-bg: var(--tokens-colors-grey-scale-grey-200);
  --status-indicator-low-color: var(--tokens-colors-grey-scale-grey-600);
  --status-indicator-border-radius: var(
    --tokens-border-radius-full-border-radius
  );
  --status-indicator-font-size: var(--tokens-typography-font-size-2xs);
  --status-indicator-line-height: var(--tokens-typography-line-height-2xs);
  --radio-selected-radio-color: var(--tokens-colors-red-red-100);
  --radio-selected-text-color: var(--tokens-colors-base-black);
  --radio-button-size: var(--tokens-spacing-16);
  --radio-unselected-radio-color: var(--tokens-colors-grey-scale-grey-600);
  --radio-unselected-text-color: var(--tokens-colors-base-black);
  --radio-disabled-radio-color: var(--tokens-colors-grey-scale-grey-400);
  --radio-disabled-text-color: var(--tokens-colors-grey-scale-grey-400);
  --radio-gap: var(--tokens-spacing-4);
  --checkbox-selected-radio-color: var(--tokens-colors-red-red-100);
  --checkbox-button-size: var(--tokens-spacing-16);
  --checkbox-selected-text-color: var(--tokens-colors-base-black);
  --checkbox-unselected-radio-color: var(--tokens-colors-grey-scale-grey-600);
  --checkbox-unselected-text-color: var(--tokens-colors-base-black);
  --checkbox-gap: var(--tokens-spacing-4);
  --checkbox-disabled-radio-color: var(--tokens-colors-grey-scale-grey-400);
  --checkbox-disabled-text-color: var(--tokens-colors-grey-scale-grey-400);
  --checkbox-checkmark: var(--tokens-colors-base-white);
  --field-sm-padding-x: var(--tokens-spacing-12);
  --field-sm-padding-y: var(--tokens-spacing-8);
  --field-sm-action-icon-size: var(--tokens-spacing-12);
  --field-sm-font-size: var(--tokens-typography-font-size-sm);
  --field-sm-line-height: var(--tokens-typography-line-height-sm);
  --field-sm-gap: var(--tokens-spacing-4);
  --field-border-radius: var(--tokens-border-radius-generic-border-radius);
  --field-sm-font-weight: var(--tokens-typography-font-weight-medium);
  --field-bg-default: var(--tokens-colors-base-white);
  --field-bg-disabled: var(--tokens-colors-grey-scale-grey-200);
  --field-color-default: var(--tokens-colors-base-black);
  --field-color-disabled: var(--tokens-colors-grey-scale-grey-400);
  --field-border-disabled: var(--tokens-colors-grey-scale-grey-400);
  --field-color-placeholder: var(--tokens-colors-grey-scale-grey-600);
  --field-border-default: var(--tokens-colors-grey-scale-grey-400);
  --timeline-item-validated-fill: var(--tokens-colors-red-red-100);
  --timeline-item-validated-icon: var(--tokens-colors-red-red-100);
  --timeline-item-validated-text: var(--tokens-colors-red-red-100);
  --timeline-item-default-fill: var(--tokens-colors-grey-scale-grey-500);
  --timeline-item-default-icon: var(--tokens-colors-grey-scale-grey-500);
  --timeline-item-default-text: var(--tokens-colors-grey-scale-grey-500);
  --timeline-font-size: var(--tokens-typography-font-size-2xs);
  --timeline-item-default-font-weight: var(
    --tokens-typography-font-weight-regular
  );
  --timeline-line-height: var(--tokens-typography-line-height-2xs);
  --timeline-point-size: var(--tokens-spacing-16);
  --timeline-inner-point-size: var(--tokens-spacing-8);
  --timeline-line-stroke: var(--tokens-colors-grey-scale-grey-400);
  --timeline-line-number: var(--tokens-spacing-1);
  --tokens-layout-page-width: 75rem;
  --pop-up-min-width: var(--layout-pop-up-min-width);
  --layout-page-min-width: 1200px;
  --pop-up-padding-y: var(--tokens-spacing-16);
  --pop-up-gap: var(--tokens-spacing-12);
  --pop-up-bg: var(--tokens-colors-base-white);
  --pop-up-divider-color: var(--tokens-colors-grey-scale-grey-200);
  --pop-up-divider-weight: var(--tokens-spacing-1);
  --pop-up-color: var(--tokens-colors-base-black);
  --table-padding-x: var(--tokens-spacing-12);
  --table-padding-y: var(--tokens-spacing-8);
  --table-gap: var(--tokens-spacing-32);
  --table-bg-even: var(--tokens-colors-base-white);
  --table-bg-odd: var(--tokens-colors-grey-scale-grey-100);
  --table-color-primary: var(--tokens-colors-base-black);
  --table-color-disabled: var(--tokens-colors-grey-scale-grey-400);
  --layout-number: 0px;
  --template-width: var(--tokens-layout-page-width);
  --template-padding-y: var(--tokens-spacing-48);
  --template-gap: var(--tokens-spacing-32);
  --container-padding-x: var(--tokens-spacing-24);
  --container-padding-y: var(--tokens-spacing-24);
  --container-gap-y: var(--tokens-spacing-12);
  --container-default-bg: var(--tokens-colors-base-white);
  --container-divider-weight: var(--tokens-spacing-1);
  --container-divider-default: var(--tokens-colors-grey-scale-grey-200);
  --container-disabled-bg: var(--tokens-colors-grey-scale-grey-400);
  --container-default-border: var(--tokens-colors-grey-scale-grey-200);
  --container-border-radius: var(--tokens-border-radius-generic-border-radius);
  --container-primary: var(--tokens-colors-base-black);
  --container-secondary: var(--tokens-colors-grey-scale-grey-600);
  --container-disabled-color: var(--tokens-colors-grey-scale-grey-400);
  --container-divider-disabled: var(--tokens-colors-grey-scale-grey-200);
  --table-border-weight: var(--tokens-spacing-1);
  --table-border-color: var(--tokens-colors-grey-scale-grey-200);
  --template-bg: var(--tokens-colors-base-white);
  --container-border-weight: var(--tokens-spacing-1);
  --container-selected-hover-bg: var(--tokens-colors-red-red-highlight);
  --container-selected-hover-border: var(--tokens-colors-red-red-100);
  --tokens-colors-red-red-highlight: #ff0000;
  --field-md-font-size: var(--tokens-typography-font-size-md);
  --field-md-line-height: var(--tokens-typography-line-height-md);
  --field-md-font-weight: var(--tokens-typography-font-weight-bold);
  --field-md-gap: var(--tokens-spacing-8);
  --container-gap-x: var(--tokens-spacing-4);
  --container-hover-bg: var(--tokens-colors-base-white);
  --container-hover-border: var(--tokens-colors-red-red-100);
  --container-disabled-bg-fill: var(--tokens-colors-grey-scale-grey-100);
  --icon-color-white: var(--tokens-colors-base-white);
  --tabs-selected-bg: var(--tokens-colors-red-red-100);
  --tabs-selected-border: var(--tokens-colors-red-red-100);
  --tabs-default-bg: var(--tokens-colors-base-white);
  --tabs-default-border: var(--tokens-colors-grey-scale-grey-200);
  --tabs-selected-color: var(--tokens-colors-base-white);
  --tabs-default-color: var(--tokens-colors-base-black);
  --tabs-gap: var(--tokens-spacing-8);
  --tabs-padding-y: var(--tokens-spacing-12);
  --tabs-corner-border-radius: var(--tokens-border-radius-lg-border-radius);
  --tokens-border-radius-lg-border-radius: 0.75rem;
  --tabs-padding-x: var(--tokens-spacing-24);
  --status-indicator-complete-bg: var(--tokens-colors-status-green);
  --status-indicator-complete-color: var(--tokens-colors-base-white);
  --table-color-secondary: var(--tokens-colors-grey-scale-grey-600);
  --table-color-warning: var(--tokens-colors-status-red);
  --table-color-success: var(--tokens-colors-status-green);
  --timeline-item-selected-text: var(--tokens-colors-base-black);
  --timeline-item-selected-icon: var(--tokens-colors-grey-scale-grey-600);
  --timeline-item-selected-fill: var(--tokens-colors-grey-scale-grey-600);
  --timeline-item-selected-font-weight: var(
    --tokens-typography-font-weight-medium
  );
  --status-indicator-disabled-bg: var(--tokens-colors-grey-scale-grey-200);
  --status-indicator-disabled-color: var(--tokens-colors-grey-scale-grey-400);
  --status-indicator-disabled-border: var(--tokens-colors-grey-scale-grey-400);
}
