:root {
  --tokens-colors-status-green: #28a745;
  --tokens-colors-status-red: #dc3545;
  --tokens-colors-status-yellow: #ffc107;
  --tokens-border-radius-generic-border-radius: 0.1875rem;
  --tokens-border-radius-full-border-radius: 62.4375rem;
  --icon-icon-size-xl: var(--tokens-spacing-32);
  --icon-icon-size-lg: var(--tokens-spacing-24);
  --icon-icon-size-md: var(--tokens-spacing-16);
  --icon-icon-size-sm: var(--tokens-spacing-16);
  --tokens-colors-grey-scale-grey-100: #f5f5f5;
  --tokens-colors-grey-scale-grey-200: #e6e6e6;
  --tokens-colors-grey-scale-grey-300: #d5d5d5;
  --tokens-colors-grey-scale-grey-400: #c1c1c1;
  --tokens-colors-grey-scale-grey-500: #8e8e8e;
  --tokens-colors-grey-scale-grey-600: #707070;
  --icon-color-grey: var(--tokens-colors-grey-scale-grey-600);
  --tokens-colors-red-red-100: #ff0000;
  --tokens-colors-red-red-200: #b51f1f;
  --icon-color-red: var(--tokens-colors-red-red-100);
  --icon-color-black: var(--tokens-colors-base-black);
  --tokens-colors-base-black: #212121;
  --tokens-colors-base-white: #ffffff;
  --button-primary-bg-default: var(--tokens-colors-red-red-100);
  --button-primary-bg-hover: var(--tokens-colors-red-red-200);
  --button-primary-color-default: var(--tokens-colors-base-white);
  --button-secondary-bg-default: var(--tokens-colors-base-white);
  --button-secondary-bg-hover: var(--tokens-colors-grey-scale-grey-100);
  --button-secondary-color: var(--tokens-colors-base-black);
  --button-disabled-bg: var(--tokens-colors-grey-scale-grey-200);
  --button-disabled-color: var(--tokens-colors-grey-scale-grey-400);
  --button-disabled-stroke-color: var(--tokens-colors-grey-scale-grey-400);
  --button-width: var(--tokens-spacing-1);
  --button-size-md-padding-x: var(--tokens-spacing-16);
  --button-size-md-padding-y: var(--tokens-spacing-12);
  --button-size-sm-padding-x: var(--tokens-spacing-12);
  --button-size-sm-padding-y: var(--tokens-spacing-8);
  --button-size-xs-padding-x: var(--tokens-spacing-8);
  --button-size-xs-padding-y: var(--tokens-spacing-4);
  --tokens-typography-font-weight-regular: 25rem;
  --tokens-typography-font-weight-medium: 31.25rem;
  --tokens-typography-font-weight-bold: 43.75rem;
  --button-gap: var(--tokens-spacing-4);
  --button-size-md-font-size: var(--tokens-typography-font-size-16);
  --button-size-md-line-height: var(--tokens-typography-font-size-24);
  --tokens-typography-font-size-28: 1.75rem;
  --tokens-typography-font-size-24: 1.5rem;
  --tokens-typography-font-size-20: 1.25rem;
  --tokens-typography-font-size-18: 1.125rem;
  --tokens-typography-font-size-16: 1rem;
  --tokens-typography-font-size-14: 0.875rem;
  --tokens-typography-font-size-12: 0.75rem;
  --tokens-typography-font-size-10: 0.625rem;
  --button-border-radius: var(--tokens-border-radius-generic-border-radius);
  --tokens-typography-line-height-36: 2.25rem;
  --tokens-typography-line-height-32: 2rem;
  --tokens-typography-line-height-28: 1.75rem;
  --tokens-typography-line-height-26: 1.625rem;
  --tokens-typography-line-height-24: 1.5rem;
  --tokens-typography-line-height-20: 1.25rem;
  --tokens-typography-line-height-18: 1.125rem;
  --tokens-typography-line-height-16: 1rem;
  --tokens-typography-line-height-14: 0.875rem;
  --button-size-sm-font-size: var(--tokens-typography-font-size-14);
  --button-size-sm-line-height: var(--tokens-typography-font-size-20);
  --button-size-xs-font-size: var(--tokens-typography-font-size-12);
  --button-size-xs-line-height: var(--tokens-typography-line-height-16);
  --tokens-spacing-4: 0.25rem;
  --tokens-spacing-8: 0.5rem;
  --tokens-spacing-12: 0.75rem;
  --tokens-spacing-16: 1rem;
  --tokens-spacing-24: 1.5rem;
  --tokens-spacing-32: 2rem;
  --tokens-spacing-64: 4rem;
  --tokens-spacing-48: 3rem;
  --tokens-spacing-2: 0.125rem;
  --tokens-spacing-1: 0.0625rem;
  --button-secondary-stroke-color: var(--tokens-colors-grey-scale-grey-300);
  --status-indicator-high-bg: var(--tokens-colors-red-red-100);
  --status-indicator-high-color: var(--tokens-colors-base-white);
  --status-indicator-low-bg: var(--tokens-colors-grey-scale-grey-200);
  --status-indicator-low-color: var(--tokens-colors-grey-scale-grey-600);
  --status-indicator-border-radius: var(
    --tokens-border-radius-full-border-radius
  );
  --status-indicator-font-size: var(--tokens-typography-font-size-10);
  --status-indicator-line-height: var(--tokens-typography-line-height-14);
  --radio-selected-radio-color: var(--tokens-colors-red-red-100);
  --radio-selected-text-color: var(--tokens-colors-base-black);
  --radio-button-size: var(--tokens-spacing-16);
  --radio-unselected-radio-color: var(--tokens-colors-grey-scale-grey-600);
  --radio-unselected-text-color: var(--tokens-colors-base-black);
  --radio-disabled-radio-color: var(--tokens-colors-grey-scale-grey-400);
  --radio-disabled-text-color: var(--tokens-colors-grey-scale-grey-400);
  --radio-gap: var(--tokens-spacing-4);
  --radio-number: 0rem;
  --checkbox-selected-radio-color: var(--tokens-colors-red-red-100);
  --checkbox-button-size: var(--tokens-spacing-16);
  --checkbox-selected-text-color: var(--tokens-colors-base-black);
  --checkbox-unselected-radio-color: var(--tokens-colors-grey-scale-grey-600);
  --checkbox-unselected-text-color: var(--tokens-colors-base-black);
  --checkbox-gap: var(--tokens-spacing-4);
  --checkbox-number: 0rem;
  --checkbox-disabled-radio-color: var(--tokens-colors-grey-scale-grey-400);
  --checkbox-disabled-text-color: var(--tokens-colors-grey-scale-grey-400);
  --checkbox-checkmark: var(--tokens-colors-base-white);
  --form-field-md-padding-x: var(--tokens-spacing-12);
  --form-field-md-padding-y: var(--tokens-spacing-8);
  --form-field-md-action-icon-size: var(--tokens-spacing-12);
  --form-field-md-font-size: var(--tokens-typography-font-size-14);
  --form-field-md-line-height: var(--tokens-typography-line-height-18);
  --form-field-md-gap: var(--tokens-spacing-4);
  --form-field-border-radius: var(--tokens-border-radius-generic-border-radius);
  --form-field-md-font-weight: var(--tokens-typography-font-weight-medium);
  --form-field-bg-default: var(--tokens-colors-base-white);
  --form-field-bg-disabled: var(--tokens-colors-grey-scale-grey-200);
  --form-field-color-default: var(--tokens-colors-base-black);
  --form-field-color-disabled: var(--tokens-colors-grey-scale-grey-400);
  --form-field-stroke-disabled: var(--tokens-colors-grey-scale-grey-400);
  --form-field-color-placeholder: var(--tokens-colors-grey-scale-grey-600);
  --form-field-stroke-default: var(--tokens-colors-grey-scale-grey-400);
  --timeline-item-selected-fill: var(--tokens-colors-red-red-100);
  --timeline-item-selected-icon: var(--tokens-colors-red-red-100);
  --timeline-item-selected-text: var(--tokens-colors-base-black);
  --timeline-item-default-fill: var(--tokens-colors-grey-scale-grey-500);
  --timeline-item-default-icon: var(--tokens-colors-grey-scale-grey-500);
  --timeline-item-default-text: var(--tokens-colors-grey-scale-grey-500);
  --timeline-font-size: var(--tokens-typography-font-size-10);
  --timeline-font-weight: var(--tokens-typography-font-weight-medium);
  --timeline-line-height: var(--tokens-typography-line-height-14);
  --timeline-point-size: var(--tokens-spacing-16);
  --timeline-inner-point-size: var(--tokens-spacing-8);
  --timeline-color: #ffffff;
  --timeline-line-stroke: var(--tokens-colors-grey-scale-grey-400);
  --timeline-line-number: 0.0625rem;
  --tokens-layout-page-width: 75rem;
  --color: #ffffff;
  --pop-up-min-width: var(--layout-pop-up-min-width);
  --layout-page-min-width: 75rem;
  --layout-pop-up-min-width: 21.875rem;
  --pop-up-padding-y: var(--tokens-spacing-16);
  --pop-up-gap: var(--tokens-spacing-12);
  --pop-up-bg: var(--tokens-colors-base-white);
  --pop-up-divider-color: var(--tokens-colors-grey-scale-grey-200);
  --pop-up-divider-weight: var(--tokens-spacing-1);
  --pop-up-color: var(--tokens-colors-base-black);
  --table-padding-x: var(--tokens-spacing-12);
  --table-padding-y: var(--tokens-spacing-8);
  --table-gap: var(--tokens-spacing-32);
  --table-bg-even: var(--tokens-colors-base-white);
  --table-bg-odd: var(--tokens-colors-grey-scale-grey-100);
  --table-color-default: var(--tokens-colors-base-black);
  --table-color-disabled: var(--tokens-colors-grey-scale-grey-400);
  --layout-number: 0rem;
  --template-width: var(--tokens-layout-page-width);
  --template-padding-y: var(--tokens-spacing-48);
  --template-gap: var(--tokens-spacing-32);
  --module-card-padding-x: var(--tokens-spacing-24);
  --module-card-padding-y: var(--tokens-spacing-24);
  --module-card-gap: var(--tokens-spacing-12);
  --module-card-bg: var(--color);
  --module-card-divider-weight: 0.0625rem;
  --module-card-divider-color: var(--tokens-colors-grey-scale-grey-200);
}
