@use 'decisions' as dec;
@use 'options' as opt;

// Header
$header-bg: opt.$tokens-colors-base-white !default;
$header-border-bottom: opt.$tokens-colors-grey-scale-grey-400 !default;
$header-border-bottom-weight: opt.$tokens-spacing-1 !default;
$header-z-index: opt.$tokens-z-index-top !default;
$header-padding-x: opt.$tokens-spacing-32 !default;
$header-padding-y: opt.$tokens-spacing-8 !default;
$header-min-height: opt.$tokens-spacing-32 !default;
$header-gap-sm-x: opt.$tokens-spacing-16 !default;
$header-gap-lg-x: opt.$tokens-spacing-48 !default;
$header-gap-y: opt.$tokens-spacing-16 !default;
$header-logo-height: opt.$tokens-spacing-24 !default;
$header-title-font-size: opt.$tokens-typography-font-size-md !default;
$header-title-font-weight: opt.$tokens-typography-font-weight-medium !default;
$header-title-color: opt.$tokens-colors-base-black !default;

// Buttons
$button-radius: opt.$tokens-border-radius-generic-border-radius !default;
$button-primary-bg-default: opt.$tokens-colors-red-red-100 !default;
$button-primary-bg-hover: opt.$tokens-colors-red-red-200 !default;
$button-primary-color: opt.$tokens-colors-base-white !default;
$button-secondary-bg-default: opt.$tokens-colors-base-white !default;
$button-secondary-bg-hover: opt.$tokens-colors-grey-scale-grey-100 !default;
$button-secondary-color: opt.$tokens-colors-base-black !default;
$button-secondary-border-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$button-disabled-bg: opt.$tokens-colors-grey-scale-grey-200 !default;
$button-disabled-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$button-disabled-border-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$button-size-md-padding-x: opt.$tokens-spacing-16 !default;
$button-size-md-padding-y: opt.$tokens-spacing-12 !default;
$button-size-sm-padding-x: opt.$tokens-spacing-12 !default;
$button-size-sm-padding-y: opt.$tokens-spacing-8 !default;
$button-size-xs-padding-x: opt.$tokens-spacing-8 !default;
$button-size-xs-padding-y: opt.$tokens-spacing-8 !default;
$button-size-md-font-size: opt.$tokens-typography-font-size-md !default;
$button-size-md-line-height: opt.$tokens-typography-line-height-md !default;
$button-size-sm-font-size: opt.$tokens-typography-font-size-sm !default;
$button-size-sm-line-height: opt.$tokens-typography-line-height-sm !default;
$button-size-xs-font-size: opt.$tokens-typography-font-size-xs !default;
$button-size-xs-line-height: opt.$tokens-typography-line-height-xs !default;
$button-transition-duration: opt.$tokens-transitions-default !default;

// Form Fields
$field-min-width: opt.$tokens-spacing-64 !default;
$field-md-padding-x: opt.$tokens-spacing-12 !default;
$field-md-padding-y: opt.$tokens-spacing-8 !default;
$field-md-font-size: opt.$tokens-typography-font-size-md !default;
$field-md-line-height: opt.$tokens-typography-line-height-md !default;
$field-md-gap: opt.$tokens-spacing-4 !default;
$field-md-font-weight: opt.$tokens-typography-font-weight-medium !default;
$field-lg-padding-x: opt.$tokens-spacing-16 !default;
$field-lg-padding-y: opt.$tokens-spacing-12 !default;
$field-lg-font-size: opt.$tokens-typography-font-size-lg !default;
$field-lg-line-height: opt.$tokens-typography-line-height-lg !default;
$field-lg-gap: opt.$tokens-spacing-8 !default;
$field-lg-font-weight: opt.$tokens-typography-font-weight-bold !default;
$field-border-radius: opt.$tokens-border-radius-generic-border-radius !default;
$field-bg-default: opt.$tokens-colors-base-white !default;
$field-bg-disabled: opt.$tokens-colors-grey-scale-grey-200 !default;
$field-color-default: opt.$tokens-colors-base-black !default;
$field-color-disabled: opt.$tokens-colors-grey-scale-grey-400 !default;
$field-border-disabled: opt.$tokens-colors-grey-scale-grey-400 !default;
$field-color-placeholder: opt.$tokens-colors-grey-scale-grey-600 !default;
$field-border-weight: opt.$tokens-spacing-1 !default;
$field-border-default: opt.$tokens-colors-grey-scale-grey-400 !default;
$field-border-focus: opt.$tokens-colors-grey-scale-grey-500 !default;
$field-transition-duration: opt.$tokens-transitions-default !default;

// Timeline
$timeline-item-size: opt.$tokens-icon-size-md !default;
$timeline-item-selected-size: opt.$tokens-spacing-16 !default;
$timeline-item-selected-bg: opt.$tokens-colors-grey-scale-grey-600 !default;
$timeline-item-border-weight: opt.$tokens-spacing-1 !default;
$timeline-item-default-icon: opt.$tokens-colors-grey-scale-grey-600 !default;
$timeline-item-default-bg: opt.$tokens-colors-grey-scale-grey-600 !default;
$timeline-item-default-border-color: opt.$tokens-colors-grey-scale-grey-600 !default;
$timeline-item-default-text: opt.$tokens-colors-grey-scale-grey-600 !default;
$timeline-item-default-selected-bg: opt.$tokens-colors-grey-scale-grey-500 !default;
$timeline-item-in-progress-icon: opt.$tokens-colors-grey-scale-grey-400 !default;
$timeline-item-in-progress-bg: opt.$tokens-colors-grey-scale-grey-500 !default;
$timeline-item-in-progress-border-color: opt.$tokens-colors-base-white !default;
$timeline-item-in-progress-text: opt.$tokens-colors-grey-scale-grey-400 !default;
$timeline-item-in-progress-selected-bg: opt.$tokens-colors-grey-scale-grey-500 !default;
$timeline-item-validated-icon: opt.$tokens-colors-red-red-100 !default;
$timeline-item-validated-bg: opt.$tokens-colors-red-red-100 !default;
$timeline-item-validated-border-color: opt.$tokens-colors-base-white !default;
$timeline-item-validated-text: opt.$tokens-colors-red-red-100 !default;
$timeline-item-validated-selected-bg: opt.$tokens-colors-red-red-100 !default;

// Icons
$icon-icon-size-xl: opt.$tokens-spacing-32 !default;
$icon-icon-size-lg: opt.$tokens-spacing-24 !default;
$icon-icon-size-md: opt.$tokens-spacing-16 !default;
$icon-icon-size-sm: opt.$tokens-spacing-16 !default;
$icon-color-grey: opt.$tokens-colors-grey-scale-grey-600 !default;
$icon-color-red: opt.$tokens-colors-red-red-100 !default;
$icon-color-black: opt.$tokens-colors-base-black !default;
$icon-color-white: opt.$tokens-colors-base-white !default;

// Radio Buttons
$radio-selected-radio-color: opt.$tokens-colors-red-red-100 !default;
$radio-selected-text-color: opt.$tokens-colors-base-black !default;
$radio-button-size: opt.$tokens-spacing-16 !default;
$radio-unselected-radio-color: opt.$tokens-colors-grey-scale-grey-600 !default;
$radio-unselected-text-color: opt.$tokens-colors-base-black !default;
$radio-disabled-radio-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$radio-disabled-text-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$radio-gap: opt.$tokens-spacing-4 !default;

// Checkboxes
$checkbox-selected-radio-color: opt.$tokens-colors-red-red-100 !default;
$checkbox-button-size: opt.$tokens-spacing-16 !default;
$checkbox-selected-text-color: opt.$tokens-colors-base-black !default;
$checkbox-unselected-radio-color: opt.$tokens-colors-grey-scale-grey-600 !default;
$checkbox-unselected-text-color: opt.$tokens-colors-base-black !default;
$checkbox-gap: opt.$tokens-spacing-4 !default;
$checkbox-disabled-radio-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$checkbox-disabled-text-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$checkbox-checkmark: opt.$tokens-colors-base-white !default;

// Progress Bars
$progress-bar-height: opt.$tokens-spacing-4 !default;
$progress-bar-bg: opt.$tokens-colors-grey-scale-grey-200 !default;
$progress-bar-selected-bg: opt.$tokens-colors-red-highlight-200 !default;
$progress-bar-fill-bg: opt.$tokens-colors-red-red-100 !default;

// Status Indicators
$status-indicator-high-bg: opt.$tokens-colors-red-red-100 !default;
$status-indicator-high-color: opt.$tokens-colors-base-white !default;
$status-indicator-low-bg: opt.$tokens-colors-grey-scale-grey-200 !default;
$status-indicator-low-color: opt.$tokens-colors-grey-scale-grey-600 !default;
$status-indicator-border-radius: opt.$tokens-border-radius-full-border-radius !default;
$status-indicator-font-size: opt.$tokens-typography-font-size-2xs !default;
$status-indicator-line-height: opt.$tokens-typography-line-height-2xs !default;
$status-indicator-complete-bg: opt.$tokens-colors-status-green !default;
$status-indicator-complete-color: opt.$tokens-colors-base-white !default;
$status-indicator-disabled-bg: opt.$tokens-colors-grey-scale-grey-200 !default;
$status-indicator-disabled-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$status-indicator-disabled-border: opt.$tokens-colors-grey-scale-grey-400 !default;

// Pop-ups
$pop-up-min-width: dec.$layout-pop-up-min-width !default;
$pop-up-padding-y: opt.$tokens-spacing-16 !default;
$pop-up-gap: opt.$tokens-spacing-12 !default;
$pop-up-bg: opt.$tokens-colors-base-white !default;
$pop-up-divider-color: opt.$tokens-colors-grey-scale-grey-200 !default;
$pop-up-divider-weight: opt.$tokens-spacing-1 !default;
$pop-up-color: opt.$tokens-colors-base-black !default;

// Tables
$table-padding-x: opt.$tokens-spacing-12 !default;
$table-padding-y: opt.$tokens-spacing-8 !default;
$table-gap: opt.$tokens-spacing-32 !default;
$table-bg-even: opt.$tokens-colors-base-white !default;
$table-bg-odd: opt.$tokens-colors-grey-scale-grey-100 !default;
$table-color-primary: opt.$tokens-colors-base-black !default;
$table-color-selected: opt.$tokens-colors-red-highlight !default;
$table-color-disabled: opt.$tokens-colors-grey-scale-grey-400 !default;
$table-border-weight: opt.$tokens-spacing-1 !default;
$table-border-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$table-color-secondary: opt.$tokens-colors-grey-scale-grey-600 !default;
$table-border-radius: opt.$tokens-border-radius-generic-border-radius !default;
$table-color-warning: opt.$tokens-colors-status-red !default;
$table-color-success: opt.$tokens-colors-status-green !default;

// Templates
$template-width: opt.$tokens-layout-page-width !default;
$template-padding-y: opt.$tokens-spacing-48 !default;
$template-gap: opt.$tokens-spacing-32 !default;
$template-bg: opt.$tokens-colors-base-white !default;

// Containers
$container-padding-x: opt.$tokens-spacing-24 !default;
$container-padding-y: opt.$tokens-spacing-24 !default;
$container-padding-sm-x: opt.$tokens-spacing-16 !default;
$container-padding-sm-y: opt.$tokens-spacing-16 !default;
$container-gap-y: opt.$tokens-spacing-24 !default;
$container-default-bg: opt.$tokens-colors-base-white !default;
$container-divider-weight: opt.$tokens-spacing-1 !default;
$container-divider-default: opt.$tokens-colors-grey-scale-grey-200 !default;
$container-disabled-bg: opt.$tokens-colors-grey-scale-grey-400 !default;
$container-default-border: opt.$tokens-colors-grey-scale-grey-400 !default;
$container-border-radius: opt.$tokens-border-radius-generic-border-radius !default;
$container-primary: opt.$tokens-colors-base-black !default;
$container-secondary: opt.$tokens-colors-grey-scale-grey-600 !default;
$container-disabled-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$container-divider-disabled: opt.$tokens-colors-grey-scale-grey-200 !default;
$container-border-weight: opt.$tokens-spacing-1 !default;
$container-selected-hover-bg: opt.$tokens-colors-red-highlight !default;
$container-selected-hover-border: opt.$tokens-colors-red-red-100 !default;
$container-gap-x: opt.$tokens-spacing-4 !default;
$container-hover-bg: opt.$tokens-colors-base-white !default;
$container-hover-border: opt.$tokens-colors-red-red-100 !default;
$container-disabled-bg-fill: opt.$tokens-colors-grey-scale-grey-100 !default;

// Tabs
$tabs-selected-bg: opt.$tokens-colors-red-red-100 !default;
$tabs-selected-border: opt.$tokens-colors-red-red-100 !default;
$tabs-default-bg: opt.$tokens-colors-base-white !default;
$tabs-default-border: opt.$tokens-colors-grey-scale-grey-200 !default;
$tabs-selected-color: opt.$tokens-colors-base-white !default;
$tabs-default-color: opt.$tokens-colors-base-black !default;
$tabs-gap: opt.$tokens-spacing-8 !default;
$tabs-padding-y: opt.$tokens-spacing-12 !default;
$tabs-corner-border-radius: opt.$tokens-border-radius-lg-border-radius !default;
$tabs-padding-x: opt.$tokens-spacing-24 !default;

// Login Card
$login-card-border-radius: opt.$tokens-border-radius-generic-border-radius !default;
$login-card-box-shadow: opt.$tokens-box-shadow !default;
$login-card-padding: opt.$tokens-spacing-16 !default;
$login-card-gap: opt.$tokens-spacing-12 !default;
$login-card-bg: opt.$tokens-colors-base-white !default;
$login-card-color: opt.$tokens-colors-base-black !default;
$login-card-font-size: opt.$tokens-typography-font-size-md !default;
$login-card-font-weight: opt.$tokens-typography-font-weight-medium !default;
$login-card-line-height: opt.$tokens-typography-line-height-md !default;

// Login Page
$login-page-width: opt.$tokens-layout-full-width !default;
$login-page-height: opt.$tokens-layout-full-height !default;
$login-page-bg-image: opt.$tokens-colors-base-white !default;
$login-page-bg-blur: 0px !default;
$login-page-bg-opacity: 0.75 !default;
$login-page-bg-color: opt.$tokens-colors-base-white !default;
$login-page-bg-z-index: opt.$tokens-z-index-background-base !default;
$login-page-bg-blur-z-index: opt.$tokens-z-index-background-overlay !default;

// Sidebar
$sidebar-width: opt.$tokens-spacing-64 !default;
$sidebar-padding-left: opt.$tokens-spacing-32 !default;
$sidebar-padding-right: opt.$tokens-spacing-48 !default;
$sidebar-padding-y: opt.$tokens-spacing-8 !default;
$sidebar-bg: opt.$tokens-colors-grey-scale-grey-200 !default;
$sidebar-bg-selected: opt.$tokens-colors-grey-scale-grey-400 !default;
$sidebar-border-width: opt.$tokens-spacing-1 !default;
$sidebar-border-color: opt.$tokens-colors-grey-scale-grey-400 !default;
$sidebar-color: opt.$tokens-colors-base-black !default;
$sidebar-item-gap: opt.$tokens-spacing-8 !default;
