@use '../../02-tokens' as tokens;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: tokens.$button-gap;
  padding: tokens.$button-size-md-padding-y tokens.$button-size-md-padding-x;
  border-radius: tokens.$button-radius;
  border: tokens.$field-border-weight solid transparent;
  font-size: tokens.$button-size-md-font-size;
  line-height: tokens.$button-size-md-line-height;
  cursor: pointer;
  transition: 0.3s ease;

  &--primary {
    background-color: tokens.$button-primary-bg-default;
    color: tokens.$button-primary-color;

    &:hover {
      background-color: tokens.$button-primary-bg-hover;
    }
  }

  &--secondary {
    background-color: tokens.$button-secondary-bg-default;
    color: tokens.$button-secondary-color;
    border-color: tokens.$button-secondary-stroke-color;

    &:hover {
      background-color: tokens.$button-secondary-bg-hover;
    }
  }

  &--disabled,
  &:disabled {
    background-color: tokens.$button-disabled-bg;
    color: tokens.$button-disabled-color;
    border-color: tokens.$button-disabled-stroke-color;
    cursor: not-allowed;
  }

  &--md {
    font-size: tokens.$button-size-md-font-size;
    line-height: tokens.$button-size-md-line-height;
    padding: tokens.$button-size-md-padding-y tokens.$button-size-md-padding-x;
  }

  &--sm {
    font-size: tokens.$button-size-sm-font-size;
    line-height: tokens.$button-size-sm-line-height;
    padding: tokens.$button-size-sm-padding-y tokens.$button-size-sm-padding-x;
  }

  &--xs {
    font-size: tokens.$button-size-xs-font-size;
    line-height: tokens.$button-size-xs-line-height;
    padding: tokens.$button-size-xs-padding-y tokens.$button-size-xs-padding-x;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
  }

  &__icon--left {
    margin-right: tokens.$spacing-xs;
  }

  &__icon--right {
    margin-left: tokens.$spacing-xs;
  }

  &--fullwidth {
    width: tokens.$button-full-width;
  }
}
