@use '../../02-tokens' as tokens;

.header {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 0;

  border-bottom: tokens.$header-border-bottom-weight solid
    tokens.$header-border-bottom;
  position: sticky;
  top: 0;
  z-index: tokens.$header-z-index;
}

.header__level {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: tokens.$header-padding-y tokens.$header-padding-x;
  gap: tokens.$header-gap-y tokens.$header-gap-sm-x;
  border-bottom: tokens.$header-border-bottom-weight solid
    tokens.$header-border-bottom;
}

.header__level:last-child {
  border-bottom: none;
}

.header-logo {
  height: tokens.$header-logo-height;
}
