@use '../../02-tokens' as tokens;

.input-wrapper {
  display: flex;
  align-items: center;
  gap: tokens.$field-md-gap;
  padding: tokens.$field-md-padding-y tokens.$field-md-padding-x;
  border-radius: tokens.$field-border-radius;
  border: tokens.$field-border-weight solid tokens.$field-border-default;
  background: tokens.$field-bg-default;
  min-height: 2.5rem;
  box-sizing: border-box;
  transition: border-color tokens.$field-transition-duration;

  // TODO: Investigate why overriding font size, line height and font weight
  &--md {
    padding: tokens.$field-md-padding-y tokens.$field-md-padding-x;
    gap: tokens.$field-md-gap;

    input.input-field,
    .input-field {
      font-size: tokens.$field-md-font-size !important;
      line-height: tokens.$field-md-line-height !important;
      font-weight: tokens.$field-md-font-weight !important;
    }
  }

  &--lg {
    padding: tokens.$field-lg-padding-y tokens.$field-lg-padding-x;
    gap: tokens.$field-lg-gap;

    input.input-field,
    .input-field {
      font-size: tokens.$field-lg-font-size !important;
      line-height: tokens.$field-lg-line-height !important;
      font-weight: tokens.$field-lg-font-weight !important;
    }
  }

  .input-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: tokens.$field-color-default;
    font-size: 20px;
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }

  input.input-field,
  .input-field {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    // font-family: inherit;
    font-size: tokens.$text-size-base !important;
    line-height: tokens.$text-line-height-base !important;
    font-weight: tokens.$field-md-font-weight !important;
    color: tokens.$field-color-default;
    min-width: 0;
    padding: 0;

    &::placeholder {
      color: tokens.$field-color-placeholder;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: tokens.$field-border-focus;
  }

  // Disabled state
  &.disabled {
    background: tokens.$field-bg-disabled;
    border: tokens.$field-border-weight solid tokens.$field-border-disabled;
    cursor: not-allowed;

    .input-icon {
      color: tokens.$field-color-disabled;
      opacity: 0.5;
    }

    input.input-field,
    .input-field {
      color: tokens.$field-color-disabled;
      cursor: not-allowed;
    }
  }

  // Error state
  &--error {
    border-color: tokens.$color-status-error;

    &:focus-within {
      border-color: tokens.$color-status-error;
    }
  }
}
