@use '../../02-tokens' as tokens;
@use '../../02-tokens/options' as opt;

.language-selector {
  display: inline-flex;
  align-items: center;
  gap: tokens.$language-selector-gap;
  font-family: opt.$tokens-typography-font-family-base;
  font-size: tokens.$language-selector-font-size;
  line-height: opt.$tokens-typography-line-height-md;
  font-weight: tokens.$language-selector-font-weight;
  font-synthesis: none;
  color: tokens.$language-selector-color;

  &__option {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &--active {
      text-decoration: underline;
    }
  }
}
