@use '../02-tokens' as tokens;

.container {
  margin: 0 auto;
  max-width: tokens.$layout-page-width;
  background-color: tokens.$container-default-bg;
  border: tokens.$container-border-weight solid tokens.$container-default-border;
  border-radius: tokens.$container-border-radius;
}
