@use '../../02-tokens' as tokens;

.lab-selector-item {
  cursor: pointer;
  transition: none;

  &--selected {
    border-color: tokens.$container-selected-hover-border;
    background-color: tokens.$container-selected-hover-bg;
  }
}

.progress-segments {
  display: flex;
  gap: 2px;
  height: tokens.$progress-bar-height;

  .segment {
    flex: 1;
    background-color: tokens.$progress-bar-bg;

    &.selected {
      background-color: tokens.$progress-bar-selected-bg;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &.filled {
      background-color: tokens.$progress-bar-fill-bg;
    }
  }
}
