@use '../../02-tokens' as tokens;

.co2-table {
  border: 1px solid tokens.$table-border-color;
  border-radius: tokens.$table-border-radius;

  tbody tr.bg-grey-1:hover > td {
    background-color: tokens.$table-border-color !important;
  }

  .q-table td {
    border: none;
  }

  th {
    font-size: tokens.$text-size-sm;
    font-weight: 700;
  }

  &--selectable {
    tbody tr {
      cursor: pointer;
      &:hover:not(.selected) > td {
        background-color: white;
        border-top: 1px solid tokens.$container-selected-hover-border !important;
        border-bottom: 1px solid tokens.$container-selected-hover-border !important;
      }

      &.selected > td {
        background-color: tokens.$table-color-selected !important;
        border-top: 1px solid tokens.$container-selected-hover-border !important;
        border-bottom: 1px solid tokens.$container-selected-hover-border !important;
      }
    }
  }
}
