
__pycache__/
.cache/
.DS_Store
.editorconfig
.env
.env.*
.git/
.gitattributes
.gitignore
.idea/
.next/
.nuxt/
.nyc_output/
.pnp
.pnp.js
.prettierignore
.pytest_cache/
.python-version
.temp/
.venv/
.vscode/
*.dockerfile
*.egg-info/
*.lock
*.log
*.min.css
*.min.js
*.mk
*.py[cod]
*.pyc
*.sh
*.swo
*.swp
*.temp
*.tmp
**/__pycache__/
**/**.yaml
**/**.yml
*$py.class
backend/.dockerignore
backend/.venv/*
backend/**/*.py
build/
CHANGELOG.md
CITATION.cff
commitlint.config.js
coverage/
dist/
docker-compose.yml
Dockerfile
frontend/.quasar/*
frontend/src/css/tokens.css
lefthook.yml
logs/
Makefile
node_modules/
npm-shrinkwrap.json
out/
package-lock.json
pnpm-lock.yaml
poetry.lock
requirements.txt
Thumbs.db
venv/
yarn.lock
