# https://github.com/EPFL-ENAC/epfl-enac-build-push-deploy-action#readme
name: deploy

"on":
  push:
    branches:
      - dev
      - stage
      - "ci-test/**"
    tags: ["v*.*.*"]

jobs:
  deploy:
    permissions:
      contents: read
      packages: write
    uses: EPFL-ENAC/epfl-enac-build-push-deploy-action/.github/workflows/deploy.yml@v2.6.0
    secrets:
      token: ${{ secrets.CD_TOKEN }}
    with:
      # Optional inputs can be passed here
      ORG: epfl
      REPO: co2-calculator
      build_context: '[ "./frontend", "./backend" ]' # context paths to build
  publish-chart:
    uses: ./.github/workflows/publish_chart.yaml
    needs:
      - deploy
    with:
      registry: "epfl-enac/co2-calculator"
      name: "co2-calculator"
